---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Bg.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="text-white text-9xl font-sans"></section>
  </main>
</Layout>
