<header class="w-screen">
  <div class="splash-content text-white font-sans bg-black py-2">
    <h1 class="text-3xl tracking-[.4rem] font-bold">.TEA</h1>
  </div>
  <section
    class="py-[2px] bg-gradient-to-r from-teal-700 to-sky-600 rounded-b-3xl"
  >
  </section>
</header>
